<div>Dodavanje slike</div>

<input id="url" type="text" placeholder="Unesite URL">
<input id="isVideo" type="checkbox">Da li je video?</input>
<button id="submit"role="button" type="submit">Potvrdi</button>

<script>
    $(document).ready(function(){
        $('#submit').click(function(event) {
            event.preventDefault();
            
            $.ajax({
                url: '/addimage',
                type: 'POST',
                cache: false,
                data: {
                    url: document.getElementById("url").value,
                    isVideo: document.getElementById("isVideo").checked
                }, 
                success: function(data){
                    alert(data.message);
                },
                error: function(jqXHR, textStatus, err) {
                    alert(jqXHR.responseJSON.message);
                }
            });
        });
    });
</script>