:root {
    --main-color: #333333;
}

html {
    background-color: #333333;
    min-height: 100%;
    background: url("./../images/finalna.png");
    box-shadow: inset 0 0 0 2000px rgba(30, 30, 30, 0.6);
    background-size: cover;
    background-position: center;
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
}

.image-section {
    margin-top: 2rem;
    margin-bottom: 2rem;

    justify-content: center;
    align-self: center;
    width: clamp(20rem, 80%, 1200px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.image-section-border {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-container {
    min-height: 21rem;
    width: 21rem;
    background-color: rgba(30, 30, 30, 0.6);
    border-radius: 7%;
    display: flex;
    justify-content: center;
}

.image-border {
    padding: 3%;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
}

.image-frame {
    margin: 0.27rem;
    overflow: hidden;
    height: 6rem;
    width: 6rem;
    border-radius: 20%;
}
.image-frame img {
    min-height: 6rem;
    min-width: 6rem;
    width: 100%;
    height: auto;
}

.module-border-wrap {
    position: relative;

    border: 0.5rem solid transparent;
    border-radius: 9%;

    border-right-color: #743ad5;
    border-left-color: #d53a9d;
    border-top-color: #743ad5;
    border-bottom-color: #d53a9d;
    
    margin: 1rem;
    transition: all 0.2s ease-in-out;
}


@media (min-width: 40em) {
    .module-border-wrap:hover {
        transform: scale(1.07);
        cursor: pointer;
    }
}

/*BOX CSS*/
